!!! 5
%html
  %head
    %title Sinatra
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
  %body
    .container
      - if flash[:success]
        %div.alert.success
          = flash[:success]
      - if flash[:error]
        %div.alert.danger
          = flash[:error]

      = yield

    %script{src: 'js/app.js'}