!!! 5
%html
  %head
    %title Sinatra
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
  %body
    - if flash[:success]
      %div{:style => "color: green"}
        = flash[:success]
    - if flash[:error]
      %div{:style => "color: red"}
        = flash[:error]

    = yield
